<!-- $Id$ -->
<%
  c_id = edit.creator.read_attribute('id') 
  lm_id = session["user"].read_attribute('id')
%>
<%= javascript_tag("update_page_var = false;") -%>
<% form_tag({ :controller => 'doc', :action => :create_or_update_form }, { :class => 'form_content'}) do %>
	<%= hidden_field('doc', 'id', :value => edit.read_attribute('id')) -%>
	<%= hidden_field('doc', 'parent_id', :value => edit.parent_id) -%>
	<%= hidden_field('doc', 'position', :value => edit.position) -%>
	<%= hidden_field('doc', 'type', :value => edit.read_attribute('type')) -%>
	<%= hidden_field('doc', 'creator_id', :value => c_id) -%>
	<%= hidden_field('doc', 'last_modifier_id', :value => lm_id) -%>
	<%= error_messages_for 'doc' %>
	
	<!--[form:doc]-->
  <table class="form_content">
    <%= render(:partial => 'share/create_multiple_items') if edit.read_attribute('id').blank? -%>
		<tr valign="bottom">
		<td width="10%">
		<label for="doc_description_level_id">Livello di Descrizione:</label>
		</td>
		<td width="90%">
		<%=
			dls = DescriptionLevel.selection
			select('doc', 'description_level_position', dls, :selected => dls[edit.description_level.position])
		%>
		</td>
		</tr>
		<tr valign="top">
		<td>
		<label for="doc_corda">Corda:</label>
		</td>
		<td>
		<%= text_field 'doc', 'corda', :size => 10, :maxsize => 10, :value => edit.corda  %>
    <%= text_field 'doc', 'corda_alpha', :size => 10, :maxsize => 16, :value => edit.corda_alpha  %><br />
    <font size="-2">(campi: numerico, alfanumerico)</font>
		</td>
		</tr>
		<tr valign="top">
			<td>
			<label for="doc_name">Titolo:</label>
			</td>
			<td>
        <%= text_field 'doc', 'name_prefix', :size => '4%', :maxsize => 128, :value => edit.name_prefix -%>
        <%= text_field 'doc', 'name', :size => '46%', :maxsize => 1024, :value => edit.name  %><br />
        <font size='-2'><i>(Prefisso/Nome)</i></font>
			</td>
    </tr>
		<tr valign="top">
		<td>
		<label for="doc_name">Etichetta:</label>
		</td>
		<td>
      <%= text_field 'doc[cd_data]', 'record_label', :size => '52%', :maxsize => 4096, :value => edit.record_label -%>
		</td>
		</tr>
		<tr valign="top">
		<td>
		<label for="doc_name">Numero di Catalogo:</label>
		</td>
		<td>
      <%= text_field 'doc[cd_data]', 'catalog_number', :size => '52%', :maxsize => 512, :value => edit.catalog_number -%>
		</td>
		</tr>
		<tr valign="bottom">
		<td>
		<label for="doc_cd_data_publishing_year">Data di Pubblicazione:</label>
		</td>
		<td>
      <%=
        py = edit && edit.publishing_year ? edit.publishing_year : ExtDate::Year.new(1980)
        select_year(py.year, py.date_select_options('doc[cd_data][publishing_year]'))
      -%>
		</td>
		</tr>
		<tr valign="top">
		<td>
		<label for="doc_cd_data_booklet_authors">Autori del Libretto:</label>
		</td>
		<td>
      <font size='-2'><i>(Nome&nbsp;/&nbsp;Cognome&nbsp;/&nbsp;Pseudonimo&nbsp;/&nbsp;tag di disambiguazione)</i></font>
      <%= render(:partial => 'share/names', :object => edit, :locals => { :single => 'share/name', :association => :booklet_authors, :creator_id => c_id, :last_modifier_id => lm_id } ) %>
		</td>
		</tr>
		<tr valign="top">
		<td>
		<label for="doc_container_type_id">Contenitore:</label>
		</td>
		<td>
		<%=
			ct = ContainerType.find(:all, :order => "id").map { |ct| [ ct.container_type, ct.id ] };
			select('doc', 'container_type_id', ct, :selected => edit.container_type.id)
		%>
		<%= text_field 'doc', 'container_number', :size => 12, :maxsize => 12, :value => edit.container_number %>
		</td>
		</tr>
		<tr class="display_separator" style="height: 15px;"><td></td></tr>
		<tr valign="top">
		<td align="left">
		<label for="doc_description">Contenuto:</label>
		</td>
		<td>
		<%= text_area 'doc', 'description', :cols => '56.5%', :rows => 8, :value => edit.raw_description -%>
		</td>
		</tr>
		<tr valign="top">
		<td>
		<label for="doc_note">Note:</label>
		</td>
		<td>
		<%= text_area 'doc', 'note', :cols => '56.5%', :rows => 4, :value => edit.raw_note  %>
		</td>
		</tr>
		<tr valign="top">
		<td>
		<label for="doc_quantity">N. Copie:</label>
		</td>
		<td>
		<%= text_field 'doc', 'quantity', :size => '5%', :maxsize => 16, :value => edit.quantity ? edit.quantity : 1 %>
		</td>
		</tr>
		<tr valign="bottom">
		<td align="left">
		  <label for="doc_public_access">Consultabile?:</label>
    </td>
    <td style="padding-left: 1em;">
      S&igrave; <%= radio_button 'doc', 'public_access', true, { :checked => edit.public_access_check }  -%>
      No <%= radio_button 'doc', 'public_access', false, { :checked => edit.public_access_uncheck }  -%>
    </td>
    </tr>
		<tr valign="bottom">
		<td align="left">
		  <label for="doc_public_visibility">Visibile?:</label>
    </td>
    <td style="padding-left: 1em;">
      S&igrave; <%= radio_button 'doc', 'public_visibility', true, { :checked => edit.public_visibility_check }  -%>
      No <%= radio_button 'doc', 'public_visibility', false, { :checked => edit.public_visibility_uncheck }  -%>
    </td>
    </tr>
  </table>
<br />
<div class="form_buttons">
  <%= submit_tag(" salva ", :name => 'update') -%>
  <%= submit_tag(" cancella ", :name => 'cancel') -%>
</div> <!-- form_buttons -->
<% end -%>
<!--[eoform:doc]-->
<table width="100%">
  <%= render(:partial => 'ar_show', :collection => edit.authority_record_collection) -%>
</table>
