<!-- $Id: _show.html.erb 619 2012-09-23 15:59:12Z nicb $ -->
<li class='sidebar_list_item' id='<%= show.selection_id_tag -%>'>
  <span class='sidebar_list_marker'>
    <table class='sidebar_list_table'>
      <tr class="sidebar_list_table">
        <td class="sidebar_list_marker_table">
          <%=
              link_to(image_tag(show.icon, :size => '8x10', :border => 0),
                      { :action => :toggle,
                        :id => show.document_id, :open_tree => 'false' })
          -%>
        </td>
        <td class="sidebar_list_corda" title='<%= show.document.signature -%>'>
          <%= show.document.full_corda -%>
        </td>
        <td class="sidebar_list_content">
			    <%
			        if show.document.class.name == "Score" && show.document.is_a_part?
			          truncate_value = 30
					    else
			          truncate_value = 50
			        end
			    -%>
          <%=
              link_to(truncate(show.document.sidebar_name,truncate_value),
                      { :action => :open, :id => show.document.id },
                      { :class => 'sidebar_list_content', :id => show.selection_id_tag, :title => show.document.sidebar_tip})
          -%>
        </td>
        <td class="sidebar_date_content">
          <%= show.document.sidebar_dates -%>
        </td>
      </tr>
    </table>
  </span> <!-- sidebar_list_marker -->
</li>
<% unless show.public_children.empty? -%>
  <ul class='sidebar_children_list'>
    <%= render(:partial => 'pview/sidebar/show', :collection => show.public_children) -%>
  </ul>
<% end %>
