<!-- $Id: popup.html.erb 329 2009-03-12 23:27:58Z nicb $ -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
   	<title>Archivio Fondazione Isabella Scelsi</title>
  	<%= stylesheet_link_tag 'fishrdb_common', 'fishrdb_popup' -%>
	  <%= javascript_include_tag :defaults -%>
		<!-- compliance patch for microsoft browsers -->
		<!--[if lt IE 7]>
   	  <%= javascript_include_tag "ie7/ie7-standard-p" -%>
		<![endif]-->
	  <%= javascript_include_tag "fishrdb" -%>
	</head>
  <body>
    <div id="page">
	    <%= render(:partial => 'share/common_header') %>
	
	    <div class="outerdoc">
		    <%= yield  -%>
	
	    </div> <!-- outer doc -->
	    <%= render(:partial => 'share/backoffice_footer') -%>
  </div> <!-- page -->
  </body>
</html>
